.blog-content-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.content-column-4 {
  grid-column: span 4;
}

.content-column-8 {
  grid-column: span 8;
}

.blog-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  color: white;
}

.blog-content h2, .blog-content h3 {
  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.blog-content h2 {
  font-size: 36px;
}

.blog-content h3 {
  font-size: 32px;
}

.blog-content p {
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  color: #ffffffcc;
  line-height: 27px;
}

.blog-content ul {
  padding-left: 20px;
}

.additional-image {
  width: 100%;
  margin-top: 20px;
}

.hr {
  border: 1px solid #ffffff33;
  margin: 30px 0;
}

/* Author Section */
.author-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  background: linear-gradient(135deg, rgba(29,53,65,1) 0%, rgba(53,77,87,1) 50%, rgba(89,113,121,1) 100%);
  border-radius: 20px;
  color: white;
}

.author-column-4 {
  grid-column: span 4;
  display: flex;
  justify-content: center;
}

.author-column-8 {
  grid-column: span 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.author-image {
  max-width: 100%;
  border-radius: 50%;
  height: auto;
}

/* .author-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

.author-name {
  font-size: 24px;
  font-weight: 600;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-icons {
  width: 100px;
}

.more-by-author {
  text-decoration: none;
  color: #ffffff;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .blog-content-container, .author-container {
    grid-template-columns: 1fr;
  }

  .author-column-4, .author-column-8 {
    grid-column: span 12;
    text-align: center;
  }

  .author-image {
    margin-bottom: 20px;
  }
}
