.flex {
  background: transparent; /* Set background to transparent */
}

img {
  background: transparent; /* Set background to transparent */
}

.blog-details {
  background-color: #212a31;
  color: white;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-image, .additional-image {
  width: 100%;
  max-width: 914px;
  margin: 20px 0;
}
