  
  .top-left-text {
    position: absolute;   
    top: 0;
    left: 0;
    margin: 10px;        
  }
  
  .centered-content {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    height: 200px;           
    position: absolute;     
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }  
  .button-text {
    margin-top: 10px;      
  }
  .backbutton{
    background-color: #00c896 !important;
    width: 70px;
    height: 40px;
    border-radius: 20px 20px 20px 20px !important;
    padding-top: 3px;
    margin-top: 10px;
  }
  .forwordbutton{
    background-color: #00c896 !important;
    width: 70px;
    height: 40px;
    border-radius: 20px 20px 20px 20px !important;
    padding-top: 3px;
    margin-left: 960px;
    margin-top: 10px;
  }