.custom-stepper .MuiStepIcon-root.Mui-completed,
.custom-stepper .MuiStepIcon-root.Mui-active {
    color: #124E66; 
    width: 100px;
}

.custom-stepper .MuiStepConnector-line {
    border-style:dashed ;
    border: 1px dashed #124E66 ;
}
